.input {
    padding: 8px;
    border: 1px solid var(--gray);
    border-radius: 4px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
}

.input:focus {
    border-color: var(--blue);
    outline: none;
}
