 .container-sallers {
    width: calc(100% - 40px);
    max-width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    padding: 20px;
    gap: 20px;
    background-color: #f9f9f9;
  }

  h2 {
    display: flex;
    justify-content: center;
    margin: 20px;
    margin-bottom: 5px
  }

   .title-new-sellers {
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  .title-new-sellers img {
    margin: 15px 0;;
  }
 

  .see-all-sallers {
    text-decoration: none;
    color: rgb(105 117 134 / 100%);
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }