.skin-quiz {
    width: 85%;
    margin: 0 auto;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FEE2E3;
    margin-top: 60px;
    border-radius: 10px;
}

.skin-quiz-content {
    display: flex;
}

.skin-quiz-text p {
    font-size: 16px;
    color: rgb(105 117 134 / 100%);
    width: 65%
}

.skin-quiz-text h2 {
    font-size: 36px;
}

.background-overlay {
    position: absolute;
    width: 100%;
    height: 226px;
    background: #FEE2E3;
    opacity: 0.3;
    top: 0;
    left: 0;
}

.content-wrapper {
    position: relative;
    width: 869px;
    height: 344px;
    display: flex;
    align-items: center;
    gap: 20px;
    z-index: 1;
}

.image-mask {
    position: relative;
    width: 408px;
    height: 226px;
    overflow: hidden;
    border-radius: 8px;
}

.image-placeholder {
    width: 100%;
    height: 100%;
    background: #B0A6BD;
    opacity: 0.8;
}

.text-content {
    position: relative;
    max-width: 439px;
    color: #383838;
}

.description {
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #697586;
    margin: 0 0 20px;
}

.explore-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 41px;
    background: #F5A3B7;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.explore-button:hover {
    background-color: black;
    color: white
}

.button-text {
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #FFF;
    text-transform: capitalize;
}

.skin-quiz-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    gap: 15px;
}
