.footer-container {
  background-color: #333; 
  color: #ddd;
  padding: 40px 20px;
  font-family: Arial, sans-serif;
}

.footer-main {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 20px;
  border-bottom: 1px solid #444;
  align-items: center;
}

.footer-section {
  flex: 1 1 180px;
  justify-content: center;
}

.footer-section h3 {
  font-size: 20px;
  color: #fff;
  margin-bottom: 10px;
}

.footer-section p,
.footer-section ul {
  font-size: 14px;
  margin: 0;
  margin-top: 10px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin: 5px 0;
}

.footer-section ul li a {
  text-decoration: none;
  color: #ddd;
}

.footer-section ul li a:hover {
  color: rgba(245, 163, 183, 1);
}

.brand-name {
  color: rgba(245, 163, 183, 1);
}

.social-icons {
  display: flex;
  gap: 60px;
}

.social-icons img {
  width: 29px;
  height: 29px;
  transition: transform 0.2s ease;
  cursor: pointer;
}

.social-icons img:hover {
  transform: scale(1.1); 
}

.footer-subscribe {
  max-width: 200px;
}

.footer-subscribe input {
  width: 100%;
  padding: 8px;
  margin: 10px 0;
  border: none;
  border-radius: 4px;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  color: #aaa;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 20px;
}

.footer-links {
  display: flex;
  gap: 20px;
}

.footer-links a {
  color: #aaa;
  text-decoration: none;
}

.footer-links a:hover {
  color: rgba(245, 163, 183, 1);
}
.subscribe-form a:hover {
  color: rgba(245, 163, 183, 1);
}
.third {
    margin-top: -40px;
}

span {
    line-height: 1.5
}